@font-face {
    font-family: "Snickles";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Snickles.ttf") format("ttf"), url("../fonts/Snickles.ttf") format("truetype");
}
hr {
    overflow: visible;
    padding: 0;
    border: none;
    color: #52BC18;
    text-align: center;
    height: 2.5px;
    background-image: linear-gradient(to right, rgba(82, 188, 24, 0), rgba(82, 188, 24, 0.75), rgba(82, 188, 24, 0));
}

/*//botones*/
.btn-primary{
      text-decoration: none;
      background: var(--color-acent) !important;
      border-radius: 10px;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 10px;
      padding-top: 5px;
      font-size: 20px;
      border: none;
      color: #fff !important;
}
.btn-primary:hover{
      background: var(--color-acent-dark) !important;
}

.btn-sencond{
      text-decoration: none;
      background: var(--color-primary-dark) !important;
      border-radius: 20px;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 10px;
      padding-top: 5px;
      font-size: 20px;
      border: none;
      color: #fff !important;
}
.btn-sencond:hover{
      background: var(--color-primary) !important;
}
.btn-circle {
    display: inline-block;
    border-radius: 5px 5px;
    box-shadow: 0px 3px 6px -4px rgb(0, 0, 0);
    padding: 8px 30px;
    text-decoration: none;
    border: none;
    background: #52BC18;
    color: #fff;
    outline: none;
    height: 36px;
}
    /*//textos*/
.edt-circle {
    top: 10px;
    right: 0px;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1.1px solid #fff;
    color: #000000;
    border-radius: 17px;
    background: #fff;
    outline: none;
    text-indent: 2px;
    padding: 5px 10px;
    box-shadow: 0px 3px 6px -4px rgb(0, 0, 0);
    colo: ;
}
/*//alertas*/